<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <h3 class="card-title"><%= countrydetails[0].name.common %></h3>
        <h4><%= countrydetails[0].population %></h4>
        <img src="<%= countrydetails[0].flags.svg %>" width="250px" alt="as">
        
    </div>
        
    </div>

    
</body>
</html>